.accent-colors {
  /* color: linear-gradient(#a6b3e8, #639fb6, #ef948c, #efbdb8, #6c4a66, #ffdaf9); */
}

* {
  margin: 0;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

body {
  background-color: #faf7f6;
  font-size: 62.5%;
  height: auto;
}

.container {
  margin: 120px 240px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  padding: 4rem 16rem;
}

p {
  font-size: 1.5rem;
  letter-spacing: 0.9px;
  font-weight: 350;
  margin-bottom: 2rem;
  font-family: 'Heebo', sans-serif;
}

.inline-link:link,
.inline-link:visited {
  color: #195736;
  font-weight: 600;
  transition: 0.9s;
}

.inline-link:hover,
.inline-link:active {
  text-decoration: none;
}
.section-title {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 24px;
}

.main-link:link,
.main-link:visited {
  font-weight: 800;
  color: #ab1032;
}

.link-styled:link,
.link-styled:visited {
  color: #faf7f6;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.9s;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  width: fit-content;
  margin-bottom: 1rem;
}

.link-styled:hover,
.link-styled:active {
  text-decoration: none;
  color: #fbaebb;
}

/* HEADER AND NAVIGATION */
.header {
  background: inherit;
}

.header-title {
  padding-top: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.03em;
}

.header-title:hover {
  cursor: pointer;
}
.header-description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.075em;
  margin-bottom: 64px;
}

.navbar {
  background-color: pink;
  display: flex;
  flex-direction: ROW;
}

.nav-item {
  text-transform: lowercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  /* margin: 1.5rem 0.5rem; */
  padding-left: 1rem;
  /* background-color: #6c4a66; */
}

.nav-item:hover {
  cursor: pointer;
}

.nav-link:link,
.nav-link:visited {
  color: #232323;
  text-decoration: none;
  font-weight: 700;
  transition: 0.9s;
}

.nav-link:hover,
.nav-link:active {
  text-decoration: none;
  color: #195736;
}

.breadcrumb-link:link,
.breadcrumb-link:visited {
  color: #6c4a66;
  transition: 0.9s;
  text-transform: lowercase;
}

.breadcrumb-link:hover,
.breadcrumb-link:active {
  text-decoration: none;
  color: #92708c;
}

.badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* HOME PAGE */

.home-row {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.home-image {
  width: 35rem;
}

.home-links,
.personal-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROJECTS PAGE */
.projects-row {
  display: flex;
}

.display-card {
  min-width: 40rem;
  max-width: 80rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 20rem;
  border: 1px solid #4a4a4a5a;
  transition: all 0.4s ease-in;
}

.display-card:hover,
.display-card:active {
  box-shadow: 0 0 2rem 0.1rem #bfbfbf5a;
  cursor: pointer;
  transform: scale(1.001, 1.001);
}

.card-title {
  text-transform: uppercase;
  font-size: 2rem;
  align-self: center;
  color: white;
}

/* PROJECT DETAILS */
/* .project-img-container {
} */
.project-img {
  width: 30rem;
}

/* CONTACT PAGE */
.contact-image {
  width: 20rem;
  display: block;
  margin-left: auto;
  transform: scaleX(-1);
}

/* ABOUT PAGE */

.about-row {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.about-education,
.about-background,
.about-tech {
  color: #000000;
  margin-bottom: 20px;
}

/* FOOTER */
.footer {
  background-color: #ab1032;
  color: #fff;
  padding: 8px 16px;
  width: 100%;
}

.footer .list-unstyled {
  display: grid;
  gap: 1.5rem;
}
